body {
	padding: 20px;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 100px;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

button {
	padding: 10px 20px;
	font-size: 14px;
	background-color: rgba(0, 184, 225, 0.688);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(2, 131, 160, 0.415);
	width: 300px;
	transition: transform 0.3s ease-in-out, background-color 0.05s;
	cursor: pointer;
	font-size: 18px;
}

button:not(:last-child) {
	margin-right: 60px;
}

button:hover {
	transform: scale(1.125);
}

button:active {
	background-color: rgba(217, 112, 0, 0.688);
}

.data {
	margin-top: 50px;
}
.data h2 {
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
}

.data h3 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
}